dist/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>My Static Template</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="common/css/main.css">
    <script src="common/js/libs/modernizr.min.js"></script>
  </head>
  <body>
    <div class="frame-all">
      <div class="frame-all-inner">
        <div class="mod-login ex-center">
          <button id="login">Facebookにログインする</button>
        </div>
      </div>
    </div>
    <script src="common/js/libs/almond.min.js"></script>
    <script src="common/js/libs/vendor.js"></script>
    <script src="common/js/main.js"></script>
  </body>
</html>

src/jade/index.jade
extends ./_partial/_layout

block stylesheets
  link(rel="stylesheet",href="common/css/main.css")

block scripts
  script(src = "common/js/main.js")

block content
  div.frame-all
    div.frame-all-inner
      div.mod-login.ex-center
        button#login Facebookにログインする
